/* 
**************************************
CSS RESET 
**************************************
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* CSS declarations go here */

body {
	font-family: arial;
}

#mouseEvents {
	padding: 20px;
	position: fixed;
	z-index: 100;
	display: none;
}


/* 
===============================================
MENU 
===============================================
*/

#menuWrapper {
	font-family: Helvetica;
	overflow: auto;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.75);
	padding: 0 0 1px 0;
	z-index: 1000;
	position: fixed;
	background: white;
	width: 100%; 
}

	.settingsWrapper {
		margin: 50px 0 50px 0;
		display: none;
	}

		.settingsInner{
			color: #c4c4c4;
		}	

			.settingsMenu {
				width: 400px;
				margin: auto;
				font-size: 12px;
				letter-spacing: .1em;
				line-height: 3em;
				margin-bottom: 20px;
			}
				.perspectiveMenu {

				}
					.settingsTitle {

					}

					.settings {
						margin-left: 20px;

					}
						.settingLabel {
							color: grey;
						}

						.settings li {
						}

							.settings li input {

							}

							.settings li label {
								padding: 10px;
							}

							.settings li input[type="radio"] {
						    	display: none;
							}

							.settings li input[type="radio"]:checked + label {
						    	color: #515151;						
						    }

				.metricsMenu {

				}

	#menuBarWrapper {
		padding: 20px;
		overflow: auto;
	}
			.menuBarSection {
				float: left;
			}

				.menuBarLeft {
					width: 20%;
				}
					#menuBarButton {
						color: #CCC;
						text-decoration: none;
						text-transform: uppercase;
						font-size: 12px;
					}

						#menuBarButton:before {
							font-family: "FontAwesome";

						}

				.menuBarCenter {
					width: 60%;
					text-align: center;
				}
					.logo {
						text-transform: uppercase;
						letter-spacing: 1.2em;
						font-size: 12px;
					}

				.menuBarRight {
					width: 20%;
					text-align: right;
				}
					#signButton {
						color: #CCC;
						text-decoration: none;
						text-transform: uppercase;
						font-size: 12px;
					}

	.signFormWrapper {
		border: 1px solid white;
		overflow: auto;
		opacity: 0; 
		height: 0px; 
	}

		.outer {

		    margin: 0 auto;
		    width: 200px;
		}
		.parent{   
		    background-color: red;
		    display: table-cell;
		    vertical-align: middle;
		    text-align: center;
		    width: 200px;
		    height: 500px;
		}
		.child{
		    width: 100%;
		    height: 52px;
		    display: inline-block;
		    background-color: blue;
		}

		.signForm {
			display: block;
			margin: auto;
			text-align: center;
			margin-top: 14%;
		}

			.signForm input {
				font-size: 2em;
				margin: 0 0 20px 0;
				border-color: transparent;
				background-color: transparent;
				font-family: helvetica; 
				font-weight: 100;
				text-align: center;
			}

					.signForm input::-webkit-input-placeholder {
					   color: black;
					}

					.signForm input:-moz-placeholder { /* Firefox 18- */
					   color: black;  
					}

					.signForm input::-moz-placeholder {  /* Firefox 19+ */
					   color: black;  
					}

					.signForm input:-ms-input-placeholder {  
					   color: black;  
					} 

					.signForm input:focus {
						 outline: 0;
					}

				.signForm input[type="email"] {
					
				}

				.signForm input[type="password"] {

				}

				.signForm input[type="submit"] {
					font-size: 1em;
					margin: 50px 0 0 0;
					text-transform: uppercase;
					letter-spacing: .2em;
				}

				.signForm input[type="submit"]:hover {
					cursor: pointer;
					color: #ddd;
				}



		#loginForm {
			
		}



		#registerForm {
			opacity: 0; 
			display: none;
		}

		.signOptions {
			text-align: center;
			font-weight: 100;
			text-transform: uppercase;
			font-size: .6em;
			letter-spacing: .2em;
			margin: 30px 0 0 0;
		}

			.signOptions:hover {
				color: #ddd;
				cursor: pointer;
			}

			#signOptionSignIn {
				display: none;
			}

			#signOptionRegister {
				display: inline; 
			}



/* 
===============================================
SHOW GOAL LINE
===============================================
*/


.showGoalLineWrapper {

}	
	.markerSectionWrapper {
		overflow: hidden;
	}

		.markerSection {
			position: relative;
			width: 50%;
			float: left; 
		}


	#circleMarker {
		padding: 0 0 0 12px;
	}


	#circleMarker:before {
		position: absolute;
		width: 11px;
		height: 11px;
		border-radius: 20px;
		background: #ddd;
		display: block;
		content: " ";
		z-index: 100;
		margin: 0 0 0 -3px;
	}

	#marker {
		position: absolute;
		width: 100%;
		font-size: 12px;
		font-weight: bold;
		color: #ddd;
	}

	.markerInfoWrapper {
	}

	#markerInfo {
		text-align: right;
		margin: 0 10px 0 0 ;
	}

	.endLineContainer {
		overflow: auto;
	}

	.endLineContainer:hover {
		cursor: pointer;
	}

		.endLineWrapper {
			overflow: auto;
			
		}

			.endLine {
				width: 50%;
				float: left;
			}

				.leftLine {
					border-left: 5px solid #ccc;
					height: 200px;
				}

	.goalLineWrapper {
		overflow: hidden;
	}

	.goalLine {
		position: relative;
		width: 50%;
		float: left; 
	}

		#goalLineLeft {
			
		}

			.month {
				position: absolute;
				right: 10px;
			}

			.zoomControlsWrapper {
				position: fixed;
				top: 40%;
				display: none;
			}

				#zoomControls {
					padding: 0 0 0 10px;
				}

					.zoomButton {
						margin: 0 0 10px 0;
						border: 4px solid #ccc;
						border-radius: 50px;

					}

					#zoomOut {
						padding: 10px 14px 10px 14px;
					}

						#zoomOut:hover {
							border: 4px solid black;
							cursor: pointer;
						}


					#zoomIn {
						padding: 10px 14px 10px 14px;
					}

						#zoomIn:hover {
							border: 4px solid black;
							cursor: pointer;

						}




		#goalLineRight {
			/*background: grey;*/
		}

			#line {
				border-left: 5px solid #ddd;
				
			}

		.goal {
			left: 10px;
			position: absolute;
			/*border: 1px solid red;*/
			z-index: 200;
			font-family: arial;
			margin: -10px 0 0 0;
			background-color: rgba(255, 255, 255, .9); 
		}
			.goal:hover {
				
			}

			.goalInfo {
				margin: 0 0 0 5px;
			}

			.flyForm {
				position: relative;
			}

				.flyGoalDate {
					color: grey;
					position: absolute;
					margin: 10px 0 0 -120px;
					text-align: right;
					width: 100px;
					color: #ccc;
					font-weight: bold;
					font-size: 12px;
				}

					.flyGoalDaysLeft {
						margin: -12px 0 0 3px;
						color: #ddd;
						font-weight: bold;
						font-size: 12px;
						position: absolute;
						display: inline-block;
						width: 100px;
						overflow: visible;
					}

				.goalMarker {
					position: absolute;
					width: 11px;
					height: 11px;
					border-radius: 20px;
					background: grey;
					display: block;
					content: " ";
					z-index: 100;
					margin: 10px 0 0 -13px;
				}

				.goalName {
					font-weight: bold;
					margin: 0px 0 0px 0;
					overflow: auto;
				}
					.flyGoalName {
						margin: 5px 0 0 0;
						display: block;
						border: 1px solid white;
						font-size: 1em;
						padding: 2px 0px 3px 1px;
					}

						.flyGoalName:before {
							
						}

					.goalName .flyFormInput {
						font-size: 1em;
						font-weight: bold;
						font-family: arial;
						padding: 5px 0 0 0;
					}

				.goalDescription {
					font-size: 12px;
				}

					.flyGoalDescription {
						border: 1px solid white;
						padding: 1px 0px 1px 1px;
					}

					.goalDescription .flyFormInput {
						font-family: helvetica;
						font-size: 12px;
					}


				.flyFormInput {
					direction: inline-block;
					display: none;
					border-color: transparent;
					background-color: transparent;
				}

					.flyFormInput::-webkit-input-placeholder {
					   color: black;
					}

					.flyFormInput:-moz-placeholder { /* Firefox 18- */
					   color: black;  
					}

					.flyFormInput::-moz-placeholder {  /* Firefox 19+ */
					   color: black;  
					}

					.flyFormInput:-ms-input-placeholder {  
					   color: black;  
					} 

				.priority {
					margin: 10px 0 0 2px;
					display: none;  
				}

					.priority input[type="radio"] {
					    display: none;
					}

					
					.priority label {
					    display:inline-block;
					    height: 10px;
					    width: 10px;
					    
					    border-radius: 50px;
					    overflow: hidden;
					}

						.priority label.radio1 {
							border: 3px solid #ddd;
						}

						.priority label.radio2 {
							border: 3px solid grey;
						}

						.priority label.radio3 {
							border: 3px solid #515151;
						}

						.radioInner {
							width: 30px;
							height: 30px;
						}

							.radioInner1 {
								background: white;
							}

							.radioInner2 {
								background: white;
							}

							.radioInner3 {
								background: white;
							}


					.priority input[type="radio"]:checked + label .radioInner1 {
					    background-color:#ddd;
					}

					.priority input[type="radio"]:checked + label .radioInner2 {
					    background-color:grey;
					}

					.priority input[type="radio"]:checked + label .radioInner3 {
					    background-color:#515151;
					}



					.radio {

					}

						.radio1 {

						}

						.radio2 {

						}

						.radio3 {

						}


				.buttons {
					margin: 10px 0 0 0;
					display: none;
				}

					.button {
						margin: 0 3px 0 0;
					    display: inline-block;
					    border: 0;
					    text-decoration: none;
					    cursor: pointer;
					    color: black;
					    border: 3px solid #ddd;
					    font: 12px Verdana;
					    text-align: center;
					    -webkit-border-radius: 50px;
						-moz-border-radius: 50px;
						border-radius: 50px;
						height: 30px;
						width: 30px;
						background: none;
						font-weight: bold;
						color: #ccc;

					}

						.button:hover {
							border: 3px solid black;
							color: black;
						}

						#removeButton {
							line-height: 20px;
						}

						#updateButton {

						}

				.buttons input {
				   
				}

					.button {
						display: inline-block;
						/*padding: 20px;*/
					}


		.currentDayWrapper {
			position: absolute;
		}
			.currentDayInner {
				position: relative;
			}
				#currentDay {
					padding: 0 0 0 10px;
					color: #ddd;
				}	

				#currentDay:before {
					position: absolute;
					width: 10px;
					height: 10px;
					border-radius: 20px;
					background: blue;
					display: block;
					content: " ";
					top: -3px;
					left: -2px;
				}

					#currentDayPulseWrapper {
						position: absolute;
						left: 0;
						top: 0;
						margin: -48px 0 0 -47px;
						height: 100px;
						width: 100px;
						z-index: 600;
					}

						.currentDayPulseOuter {
						    display: table;
						    position: absolute;
						    height: 100%;
						    width: 100%;
						}

						.currentDayPulseMiddle {
						    display: table-cell;
						    vertical-align: middle;
						}

						.currentDayPulseInner {
						    margin-left: auto;
						    margin-right: auto; 
						    width: 50px;
						}

					#currentDayPulse {
						width: 4px;
						height: 4px;
						border-radius: 20px;
						border: 3px solid blue;
						background: none;
						display: block;
						content: " ";
						margin: auto;
						opacity: .5;
					}







































